                <!-- <div class="form-group">
                    <label htmlfor="wid" class="control-label">Width: </label>
                    <input type="number" name="wid" id="wid" value="1024" />
                </div>
                <div class="form-group">
                    <label htmlfor="ht" class="control-label">Height: </label>
                    <input type="number" name="ht" id="ht" value="768" />
                </div> -->
                <!-- <b>Image Rotation</b>
                <div class="form-group">
                    <label htmlfor="rot">Image Rotation</label>
                    <input type="number" name="rot" id="rot" value="0" />
                </div> -->