<!doctype html>
<html lang="en">

<head>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        </body>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Binary Background Generator</title>
    </head>
</head>

<body>
    <form method="POST">
        <div class="form-group">
            <label htmlfor="msg">Enter text here: </label>
            <input type="text" name="msg" id="msg" value="Hello World!" />
        </div>
        <h2>Message</h2>
        <label>Enter text here:
            
        </label>
        <br>
        <label>Text size:
            <input type="number" name="text_size" id="text_size" value="16" />
        </label>
        <span>
            <h2>Image Dimensions (in pixels)</h2>
            <!-- TODO insert options for popular sites -->
            <label>Width:
                <input type="number" name="wid" id="wid" value="1024" />
            </label>
            <label>Height:
                <input type="number" name="ht" id="ht" value="768" />
            </label>
        </span>
        <span>
            <h2>Color Scheme</h2>
            <label>Text color:
                <input type="color" name="txt_color" id="txt_color" value="#00FF41" />
            </label>
            <label>Background color:
                <input type="color" name="back_color" id="back_color" value="#0D0208">
            </label>
        </span>
        <p>
        <h1>Additional options</h1>
        Text direction
        <br>
        <label>Right to left
            <input type="radio" name="dir" value="rtl" id="dire" checked="checked" />
        </label>
        <label>Left to right
            <input type="radio" name="dir" value="ltr" id="dire" />
        </label>
        <label>Top to bottm
            <input type="radio" name="dir" value="ttb" id="dire" />
        </label>
        <label>Bottom to top
            <input type="radio" name="dir" value="btt" id="dire" />
        </label>
        </p>
        Text format
        <br>
        <label>Plaintext
            <input type="radio" name="tType" id="tType" value="plain">
        </label>
        <label>Binary
            <input type="radio" name="tType" id="tType" value="bin" checked="checked" />
        </label>
        <p>
            <label>Text style:
                <select name="font">
                    <option value="arial" id="arial" selected="selected">Arial</option>
                    <option value="arialb" id="arialb">Arial Black</option>
                    <option value="cent" id="cent">Century Gothic</option>
                    <option value="comic" id="comic">Comic Sans MS</option>
                    <option value="courier" id="courier">Courier New</option>
                    <option value="georgia" id="georgia">Georgia</option>
                    <option value="impact" id="impact">Impact</option>
                    <option value="lg" id="lg">Lucida Grande</option>
                    <option value="pal" id="pal">Palatino</option>
                    <option value="tahoma" id="tahoma">Tahoma</option>
                    <option value="times" id="times">Times New Roman</option>
                    <option value="tre" id="treb">Trebuchet MS</option>
                    <option value="ver" id="ver">Verdana</option>
                </select>
            </label>
        </p>
        <span>Image rotation
            <input type="number" name="rot" id="rot" value="0" />
        </span>
        <br>
        <label>Image type
            <select name="ext">
                <option name=".jpg" id=".jpg" selected="selected">JPG</option>
                <option name=".gif" id=".gif">GIF</option>
                <option name=".bmp" id=".bmp">BMP</option>
            </select>
        </label>
        <input type="submit" id="submit" value="Download" />
    </form>
</body>

</html>