<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </body>
    <title>Binary Background Generator</title>
</head>

<body>
    <h1>Binary Background Generator</h1>
    <div class="container-fluid">
        <form method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label htmlfor="msg" class="control-label">Enter text here: </label>
                        <input type="text" name="msg" id="msg" value="Hello World!" />
                    </div>
                    <div class="form-group">
                        <label htmlfor="fontSz" class="control-label">Font Size: </label>
                        <input type="number" name="fontSz" id="fontSz" value="16" />
                    </div>
                    <div class="form-group">
                        <label htmlfor="txtColor" class="control-label">Text Color: </label>
                        <input type="color" name="txtColor" id="txtColor" value="#00FF41" />
                    </div>
                    <div class="form-group">
                        <label htmlfor="res" class="control-label">Size (measured in pixels): </label>
                        <select name="res" id="res">
                            <option value="" disabled>Desktop/Laptop</option>
                            <option value="1024, 768" selected>Small (1024, 768) (default)</option>
                            <option value="1280, 1024">Medium (1280, 1024)</option>
                            <option value="1920, 1080">Large (1920, 1080)</option>
                            <option value="" disabled>Phone</option>
                            <option value="320, 480">Small (320, 480)</option>
                            <option value="640, 960">Medium (640, 960)</option>
                            <option value="1240, 1920">Large (1240, 1920)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label htmlfor="bckColor" class="control-label">Background Color: </label>
                        <input type="color" name="bckColor" id="bckColor" value="#0D0208">
                    </div>
                    <input type="submit" id="submit" value="Download" class="btn-primary" />
                </div>
                <div class="col">
                    <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#additional"
                        aria-expanded="true" aria-controls="additional">
                        <b>Additional Options</b><span class="caret"></span>
                    </button>
                    <div class="collapse" id="additional">
                        <div class="card card-body">
                            <b>Text Direction</b>
                            <div class="form-check">
                                <label htmlfor="rtl" class="form-check-label">Right to left: </label>
                                <input type="radio" name="dir" value="rtl" id="dire" checked="checked"
                                    class="form-check-label" />
                                <label htmlfor="ltr" class="form-check-label">Left to right: </label>
                                <input type="radio" name="dir" value="ltr" id="dire" class="form-check-label" />
                                <label htmlfor="ttb" class="form-check-label">Top to bottom: </label>
                                <input type="radio" name="dir" value="ttb" id="dire" class="form-check-label" />
                                <label htmlfor="btt" class="control-label">Bottom to top: </label>
                                <input type="radio" name="dir" value="btt" id="dire" class="form-check-label" />
                            </div>
                            <b>Text Format</b>
                            <div class="form-group">
                                <label html="bin">Binary (1's & 0's): </label>
                                <input type="checkbox" name="bin" id="bin" checked="checked" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="btn dropdown-toggle" type="button" data-toggle="collapse" data-target="#technical"
                        aria-expanded="true" aria-controls="technical">
                        <b>Technical Options</b><span class="caret"></span></button>
                    <div class="collapse" id="technical">
                        <div class="card card-body">
                            <div class="form-group">
                                <label htmlfor="ext" class="control-label">Extension: </label>
                                <select name="ext">
                                    <option value=".bmp" id=".bmp">BMP</option>
                                    <option value=".gif" id=".gif">GIF</option>
                                    <option value=".jpg" id=".jpg" selected="selected">JPG</option>
                                    <option value=".tiff" id=".tiff">TFF</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </form>
    </div>

</body>

</html>